@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0) 100%);
    font-family: var(--fonte);
}
:root {
    --fonte: 'Poppins', sans-serif;
}
header {
    border: 1% solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    border: #000;
}
nav a {
    margin-inline-end: 3rem;
    color: #000;
    text-decoration: dashed;
}

nav button {
    background-color: #f54748;
    margin-inline-start: 2rem;
    inline-size: 162px;
    block-size: 45px;
    border-radius: 50px;
    border: none;
    color: #fff;
}
.Partedois {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.Partedois .people {
    display: flex;
    width: 139px;
    height: 28px;
    left: 76px;
    top: 212px;
}
.Partedois h1 {
    width: 530px;
    font-size: 54px;
}
.Partedois p {
    width: 500px;
    font-size: 24px;
}
.pesquisa input {
    width: 471px;
    height: 30px;
    left: 70px;
    top: 568px;
    var: var(--fonte);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    border-radius: 50px;
    color: #191919;
    margin-bottom: 30px;
    background-image: url('./img/pesquisa.png');
    background-repeat: no-repeat;
    background-position: 4% center;
    padding-left: 50px;
}
.Partedois button {
    background-color: #f54748;
    border-radius: 50px;
    width: 162px;
    height: 45px;
    left: 70px;
    top: 656px;
    color: #fff;
    margin-inline-start: 2rem;
    inline-size: 162px;
    block-size: 45px;
    border-radius: 50px;
    border: none;
}
.Partedois .mulher {
    display: flex;
    align-self: flex-end;
    width: 600px;
    height: 700px;
    left: 830px;
    top: 170px;
}
.today h2 {
    justify-content: center;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-size: 48px;
    line-height: 67px;
    text-transform: capitalize;
    color: #191919;
    display: flex;
    justify-content: center;
}
.today p {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 856px;
    left: 324px;
    top: 1023px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #191919;
    opacity: 0.8;
    margin-left: 500px;
    margin-bottom: 30px;
}
.primeiraleva {
    display: flex;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    justify-content: center;
    gap: 6rem;
}
.primeiraleva .num {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-left: 180px;
}
.primeiraleva .kebab {
    left: 194px;
    color: #f54748;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
}
.primeiraleva .texto {
    width: 243px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #191919;
    opacity: 0.8;
    margin-left: 30px;
}
.primeiraleva button {
    background-color: #f54748;
    justify-content: center;
    border-radius: 56px;
    width: 131px;
    height: 45px;
    left: 1149px;
    top: 1608px;
}
.segundaleva h1 {
    margin-left: 20px;
    font-style: normal;
    width: 600px;
    font-size: 48px;
    line-height: 129.9%;
    color: #000000;
    text-align: left;
    margin-top: 100px;
}
.p {
    width: 48%;
    height: 72px;
    left: 639px;
    top: 2184px;
    display: flex;
    margin-left: 20px;
    font-size: 10px;
    color: #191919;
}
.geral img {
    display: flex;
    align-self: center;
    background-color: #F54748;
    margin-left: 2rem;
    width: fit-content;
    height: 20px;
    border-radius: 100px;
}
.segundaleva {
    display: flex;
    padding-bottom: 0;
}
.segundaleva .imgs {
    display: flex;
    width: 180px;
    height: 300px;
    flex-direction: column;
}

.segundaleva .imgsdois {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 300px;
}
.segundaleva button {
    background-color: #f54748;
    margin-left: 2rem;
    height: 2180px;
    width: 100px;
    justify-content: center;
    border-radius: 50px;
    margin-top: 100px;
}
.geralimg {
    width: 800px;
    display: flex;
    margin-left: 20px;
    gap: 9%;
    margin-top: 10%;
}
.terceirageral {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 67px;
    text-align: center;
    text-transform: capitalize;
    width: 70%;
    margin-inline: auto;
}
.textoterceiraparte {
    display: flex;
    justify-content: center;
}
.cor {
    color: #f54748;
}
.cordois {
    color: #FDC55E;
}
.listaterceiraparte {
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1018px;
    height: 44px;
    top: 2901px;
    margin-left: 411px;
    margin-right: 211px;
    margin-bottom: 80px;
    margin-top: 40px;
}
.listaterceiraparte button {
    display: flex;
    inline-size: 162px;
    block-size: 45px;
    color: #000;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 150px;
    height: 44px;
    background: #fff;
    border-radius: 100px;
}
.listaterceiraparte .unico {
    display: flex;
    justify-content: center;
    margin-inline-start: 1rem;
    inline-size: 162px;
    block-size: 45px;
    color: #fff;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 98px;
    height: 44px;
    background: #F54748;
    border-radius: 100px;
}
.terceiraleva img {
    margin-left: 30px;
}
.terceiraleva .parte1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.terceiraleva .num {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-left: 190px;
}
.terceiraleva .kebab {
    left: 194px;
    color: #f54748;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}
.terceiraleva .texto {
    width: 243px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    color: #191919;
    opacity: 0.8;
    margin-left: 40px;
    margin-bottom: 0px;
}
.terceiraleva button {
    background-color: #f54748;
    border-radius: 50px;
    width: 162px;
    height: 45px;
    left: 70px;
    top: 656px;
    color: #fff;
    margin-inline-start: 2rem;
    inline-size: 162px;
    block-size: 45px;
    border-radius: 50px;
    border: none;
    margin-left: 80px;
}
.terceiraleva .parte2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.ultimo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.ultimo .h1 {
    margin-bottom: 30%;
    width: 843px;
    height: 134px;
    font-size: 30px;
    margin-left: 110px;
}
.p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    width: 550px;
    height: 134px;
    flex-grow: 4px;
    margin-top: 50px;
    margin-left: 2px;
}
.ultimo .ultimaimg {
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    left: 232px;
    top: 4738px;
    display: flex;
    margin-top: 50px;
}
.chef {
    display: flex;
    align-items: right;
}
.ultimaimg {
    width: 550px;
    height: 72px;
    left: 70px;
    top: 4624px;
    border: 2px solid black;
}
.ajuste {
    width: 310px;
    height: 468px;
    left: 75px;
    background: linear-gradient(179.69deg, rgba(255, 255, 255, 0) -31.53%, #F54748 703.75%);
    border-radius: 20px;
}
